<!DOCTYPE html>                 
<html xmlns:th="http://www.thymeleaf.org">    

<head>
	<meta charset="ISO-8859-1">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--CSS ESTILOS BOOTSTRAP-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/resources/CSS/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/resources/CSS/bootstrap-theme.css}">
	<link rel="stylesheet" th:href="@{/resources/CSS/estilosUsuario.css}">
	<link rel="stylesheet" th:href="@{/resources/CSS/cssCarousel.css }">
	<link rel="stylesheet" th:href="@{/resources/CSS/bootstrapValidator.css}">
	<link rel="stylesheet" th:href="@{/resources/CSS/bootstrap-utilities.min.css}">
	<link rel="stylesheet" th:href="@{/resources/CSS/Redes.css}">
	<link rel="stylesheet" th:href="@{/resources/FONTS/all.min.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Raleway:wght@500&family=Secular+One&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />


	<title>Makako Burger</title>

	<header class="text-center shadow-lg mb-4 "
			style="background-color: #FABE1F;" th:fragment="menuCabecera">

			<video th:src="@{/resources/IMG/MakakoTitulo.mp4}" style="width: 40%;" autoplay loop></video>

			<nav
				class="navbar navbar-expand-lg border-bottom border-top border-2 "
				style="background-color: #FFF6EA;">

				<div class=" container-fluid mt-0 d-flex align-content-around  ">
					 <a class="navbar-brand d-flex text-center align-items-center" style="color:#FFF6EA;"
	                            href="/HTML/index.html"><img th:src="@{/resources/IMG/Logo-IconoSinFondo.png}" class="text-center align-items-center"
	                                width="90" alt=""></a>

					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" style="color: #330E00;"
						data-bs-target="#navbarNav" aria-controls="navbarNav"
						aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa-solid fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse justify-content-end"
						id="navbarNav">
						<ul class="navbar-nav col-12 col-lg-auto my-2 justify-content-end"
							style="color: #FFF6EA;">
							
							<li class="nav-item"><a class="nav-link m-2 "
								style="color: #330E00; font-size: 20px;" aria-current="page"
								href="indexUser.html"> <i
									class="fa-solid fa-house-chimney d-flex justify-content-center"
									width="30"></i>Inicio
							</a>
							</li>						
							
							<li class="nav-item"><a class="nav-link m-2 "
								style="color: #330E00; font-size: 20px;" aria-current="page"
								href="#"> <i
									class="fa-solid fa-burger d-flex justify-content-center"
									width="30"></i>Menú
							</a>
							</li>

							<li class="nav-item"><a class="nav-link m-2  "
								style="color: #330E00; font-size: 20px;" aria-current="page"
								href="#"> <i
									class="fa-solid fa-sack-dollar d-flex justify-content-center"
									width="30"></i>Promociones
							</a></li>

							<li class="nav-item"><a class="nav-link m-2 "
								style="color: #330E00; font-size: 20px;" aria-current="page"
								href="#"> <i
									class="fa-solid fa-map-location-dot d-flex justify-content-center"
									width="30"></i>Zona de Reparto
							</a></li>

							<li class="nav-item"><a class="nav-link m-2 "
								style="color: #330E00; font-size: 20px;" aria-current="page"
								href="#"> <i
									class="fa-solid fa-people-roof d-flex justify-content-center"
									width="30"></i>Nosotros
							</a></li>


							<li
								class="nav-item d-flex align-self-center flex-wrap carro border">
								<a class="nav-link m-2 text-center"
								style="color: #330E00; font-size: 20px;" aria-current="page"
								href="#"> <i
									class="fa-solid fa-shopping-cart justify-content-center pe-2"
									width="30"></i> Tienda Online
							</a>
							</li>
							

								
									<li
			                            class="nav-item d-flex m-1 align-self-center flex-wrap carro border">
			                            <a class="nav-link m-2 text-center"
			                            style="color: #330E00; font-size: 20px;" aria-current="page"
			                            href="login.html"> <i
			                                class="fa-solid fa-user justify-content-center pe-2"
			                                width="30"></i>Iniciar Sesión
			                        	</a>
			                        </li>
								
							
						</ul>
					</div>

				</div>
			</nav>

		</header>	

	

