/* --------------------- MODIFICACIONES DE VARIABLES DE BOOTSTRAP --------------------- */
:root {
  --primary-color: #0D6EFD;
  --secondary-color: #5197FF;
  --white-color: #FFFFFF;
  --gray-color: #cccccc;
  --gray-light-color: #F3F3F3;
  --gray-dark-color: #666666;
  --link-color: #0094FF;
  --dark-color: #212529;
}

/* --------------------- TIPOGRAFÍA --------------------- */
*,
*::after,
*::before {
  font-family: "Raleway", sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

/* --------------------- MODIFICACIONES DE CLASES DE BOOTSTRAP --------------------- */
/* -------- BACKGROUNDS -------- */


/* -------- COLORES DE TEXTOS -------- */
.text-link {
	color: var(--link-color);
}

/* -------- FORMULARIOS -------- */
.btn, .form-control, .form-select {
	padding: .75rem !important;
}

.btn {
	font-weight: bolder !important;
}

.form-control, .form-select {
  border: 1px solid var(--secondary-color);
}

input[type='search'] {
	background-image: url("../img/search.png");
	/* Calculos de bootstrap que aplica para sus elemento de validaciones */
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(1em + 0.375rem) calc(1em + 0.375rem);
}

input[type='search']:valid {
	background-image: none;
}

/* -------- MODALES -------- */
.modal-header {
	border: none;
	flex-direction: column;
	align-items: stretch;
}

.modal-header > button {
	position: absolute;
	top: 0;
	right:0;
	background: none;
	border: none;
	color: var(--primary-color);
	font-size: 2rem;
}

.modal-title {
	font-weight: bold;	
}

.modal-body {
	padding-top: 0;
	padding-bottom: 0;
}


.modal-footer {
	border: none;
	flex-wrap: nowrap;
}

/* -------- ENLACE -------- */
a {
	cursor: pointer;
	color: var(--link-color);
	transition: color 300ms ease-in-out;
}

/* --------------------- CLASES ÚNICAS Y GENERALES --------------------- */
.icon {
	font-size: 4rem;
}

/* -------- PARA EL MENU -------- */
.flex-row-2 {
	display: flex;
}

.menu, .main {
	min-height: 100vh;
}

.menu {
	border-right: 1px solid var(--gray-color);	
}



/* -------- MAIN -------- */
.main {
	font-size: clamp(10px, 2vw, 1rem);
	background-color: var(--gray-light-color);
	flex-grow: 1;
	display: flex;
    flex-direction: column;
    gap: 25px;
    padding: clamp(10px, 2vw, 1.75rem);
}

/* -------- PARA EL USUARIO ACTUAL -------- */
.current-user {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.user-photo > img {
	width: 40px;
	border-radius: 50%;
}

.dropdown-menu {
	font-size: inherit;
	text-align: right;
}

/* -------- CAJA GENERAL -------- */
.box {
	background-color: var(--white-color);
	padding: 1rem;
	border-radius: 17px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

/* -------- PARA EL FORMULARIO DE BÚSQUEDA -------- */
.form-search {
	display: grid;
	margin-bottom: 1rem;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, clamp(100px, 50vw, 200px));

}

.form-search > * {
	font-size: inherit; 
}


/* -------- PARA BOTONES -------- */
.btn-add {
	display: flex;
	color: var(--white-color);
	background-color: var(--primary-color);
	align-items: center;
	gap: 10px;
	border: none;
	border-radius: 8px;
	padding: 0.5rem;
}

/* -------- PARA EL CUERPO DE INFORMACIÓN -------- */
.body-info {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* -------- DATOS EN FILA -------- */
.d-row {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	background-color: var(--gray-light-color);
	padding: 0.75rem;
	border-radius: 10px;
}

.data {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

/* -------- PARA LAS OPERACIONES CRUD -------- */
.operations {
	font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.operations > * {
	cursor: pointer;
	transition: opacity 300ms ease-in-out;
}

.operations > *:hover {
	opacity: 0.75;
}

/* -------- ÍCONOS DE OPERACIONES CRUD -------- */
.icon-info, .icon-info:hover {
	color: var(--link-color) !important;
}

.icon-update, .icon-update:hover  {
	color: var(--bs-yellow);
}

.icon-delete, .icon-delete:hover{
	color: var(--bs-red);
}

/* -------- PAGINACIÓN Y NAVEGACIÓN -------- */
.pagination {
	margin: 0;
	gap: 8px;
}

.navigation-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation-info > *  {
	padding: 0 0.5rem;
}	

/* -------- LINKS -------- */
.link-desactive {
	color: var(--dark-color);
	text-decoration: none;
	cursor: default;
}

.link-desactive:hover {
	color: var(--dark-color);
}

.link-active {
	text-decoration: none;
}

.link-active:hover {
	color: var(--link-color);
	text-decoration: underline;
}


/* ------- Imagen de productos -----------------*/

.container-img-prod {
	text-align: center;
}

.container-img-prod > .img-prod {
	border: 1px solid var(--secondary-color);
}

.img-prod {
	display: inline-block;
	text-align: center;
	width: 160px;
	height: 160px;
}


.img-prod > img {
	height: -webkit-fill-available;
}




