<!DOCTYPE html>

<head>
	<meta charset="ISO-8859-1">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--CSS ESTILOS BOOTSTRAP-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/CSS/bootstrap.css">
	<link rel="stylesheet" href="/CSS/bootstrap-theme.css">
	<link rel="stylesheet" href="/CSS/estilosUsuario.css">
	<link rel="stylesheet" href="/CSS/cssCarousel.css">
	<link rel="stylesheet" href="/CSS/bootstrap-utilities.css">
	<link rel="stylesheet" href="/CSS/bootstrapValidator.css">
	<link rel="stylesheet" href="/CSS/bootstrap-utilities.min.css">
	<link rel="stylesheet" href="/CSS/Redes.css">
	<link rel="stylesheet" href="/FONTS/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Raleway:wght@500&family=Secular+One&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!--CSS ESTILOS-->
	<link rel="stylesheet" th:href="/CSS/cssCarousel.css">

	<title>Makako Burger</title>
</head>
<div class="red">
	<div id="facebook" class="fb"><a href="https://www.facebook.com/profile.php?id=100063526752640"
			class="text-decoration-none text-white a" target="_blank"><i class="fa-brands fa-facebook "></i></a></div>
	<div id="instagram"><a href="https://www.instagram.com/makakoburgercafe/" class="text-decoration-none text-white"
			target="_blank"><i class="fa-brands fa-instagram "></i></a></div>
	<div id="whatsapp"><a href="https://api.whatsapp.com/send?phone=51966313252" class="text-decoration-none text-white"
			target="_blank"><i class="fa-brands fa-whatsapp"></i></a></div>
</div>

<body>


	<div class="p-0">
		<header class="text-center shadow-lg mb-4 " style="background-color: #FABE1F;">

			<video src="/IMG/MakakoTitulo.mp4" style="width: 40%;" autoplay loop></video>

			<nav class="navbar navbar-expand-lg border-bottom border-top border-2 " style="background-color: #FFF6EA;">

				<div class=" container-fluid mt-0 d-flex align-content-around  ">
					<a class="navbar-brand d-flex text-center align-items-center" style="color:#FFF6EA;"
						href="/HTML/index.htm"><img src="/IMG/Logo-IconoSinFondo.png"
							class="text-center align-items-center" width="90" alt=""></a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" style="color: #330E00;"
						data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
						aria-label="Toggle navigation">
						<i class="fa-solid fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav col-12 col-lg-auto my-2 justify-content-end" style="color: #FFF6EA;">

							<li class="nav-item"><a class="nav-link m-2 " style="color: #330E00; font-size: 20px;"
									aria-current="page" href="indexUser.html"> <i
										class="fa-solid fa-house-chimney d-flex justify-content-center"
										width="30"></i>Inicio
								</a>
							</li>

							<li class="nav-item"><a class="nav-link m-2 " style="color: #330E00; font-size: 20px;"
									aria-current="page" href="#"> <i
										class="fa-solid fa-burger d-flex justify-content-center" width="30"></i>Menú
								</a>
							</li>

							<li class="nav-item"><a class="nav-link m-2  " style="color: #330E00; font-size: 20px;"
									aria-current="page" href="#"> <i
										class="fa-solid fa-sack-dollar d-flex justify-content-center"
										width="30"></i>Promociones
								</a></li>

							<li class="nav-item"><a class="nav-link m-2 " style="color: #330E00; font-size: 20px;"
									aria-current="page" href="#"> <i
										class="fa-solid fa-map-location-dot d-flex justify-content-center"
										width="30"></i>Zona de Reparto
								</a></li>

							<li class="nav-item"><a class="nav-link m-2 " style="color: #330E00; font-size: 20px;"
									aria-current="page" href="#"> <i
										class="fa-solid fa-people-roof d-flex justify-content-center"
										width="30"></i>Nosotros
								</a></li>


							<li class="nav-item d-flex align-self-center flex-wrap carro border">
								<a class="nav-link m-2 text-center" style="color: #330E00; font-size: 20px;"
									aria-current="page" href="#"> <i
										class="fa-solid fa-shopping-cart justify-content-center pe-2" width="30"></i>
									Tienda Online
								</a>
							</li>



							<li class="nav-item d-flex m-1 align-self-center flex-wrap carro border">
								<a class="nav-link m-2 text-center" style="color: #330E00; font-size: 20px;"
									aria-current="page" href="login.html"> <i
										class="fa-solid fa-user justify-content-center pe-2" width="30"></i>Iniciar
									Sesión
								</a>
							</li>


						</ul>
					</div>

				</div>
			</nav>

		</header>

		<!--CUERPO DE PÁGINA-->
		<div class="container-fluid">

			<div id="myCarousel" class="carousel slide w-75 " data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
						aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner ">
					<div class="carousel-item active">
						<img src="/IMG/Sin título-1.jpg" alt="" class="d-block  w-100 ">
					</div>
					<div class="carousel-item ">
						<div class="d-flex gap-1">
							<video src="/IMG/Banner 1Video.mp4" autoplay loop muted class="d-block w-50 "></video>
							<video src="/IMG/BannerVideo2.mp4" autoplay loop muted class="d-block w-50"></video>
						</div>
					</div>

				</div>
				<button class="carousel-control-prev visually-hidden" type="button" data-bs-target="#myCarousel"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Anterior</span>
				</button>
				<button class="carousel-control-next visually-hidden" type="button" data-bs-target="#myCarousel"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Siguiente</span>
				</button>
			</div>

			<div class=" mt-3 mb-3 ms-5 me-5">
				<div class="m-auto  border" style="width: 80%;">
					<h2 class="h1 text-start titulo m-4 ms-5 text-uppercase">Makako Promociones</h2>

					<div class=" m-4 mx-auto rounded-3 p-3 d-flex align-items-center gap-3 w-75 border-1 ">


						<div class="card" style="width: 18rem;">
							<img src="/IMG/70348103_420184485276657_6815606820892049408_n.png" class="card-img-top" alt="...">
							<div class="card-body my-auto text-center">
							  <button class="btnUsuario rounded-3 p-1"> Ver Más</button>
							</div>
						  </div>	
						
						  <div class="card" style="width: 18rem;">
							<img src="/IMG/70348103_420184485276657_6815606820892049408_n.png" class="card-img-top" alt="...">
							<div class="card-body my-auto text-center">
							  <button class="btnUsuario rounded-3 p-1"> Ver Más</button>
							</div>
						  </div>	
						  <div class="card" style="width: 18rem;">
							<img src="/IMG/70348103_420184485276657_6815606820892049408_n.png" class="card-img-top" alt="...">
							<div class="card-body my-auto text-center">
							  <button class="btnUsuario rounded-3 p-1"> Ver Más</button>
							</div>
						  </div>	
						  <div class="d-flex  flex-grow-1 text-center justify-content-center align-items-center align-content-center w-25">
						  <a href="" class="arrowText arrowRight d-flex align-items-center justify-content-center shadow-sm text-decoration-none" >
							<span>Ver Todo</span>
						  </a>
						</div>

					</div>
					
				</div>

				<div class="m-auto  border mt-3" style="width: 80%;">
					<h2 class="h1 text-start titulo m-4 ms-5 text-uppercase">Makako Promociones</h2>

					<div class=" m-4 mx-auto rounded-3 p-3 d-flex align-items-center gap-3 w-75 border-1 ">


						<div class="card" style="width: 18rem;">
							<img src="/IMG/70348103_420184485276657_6815606820892049408_n.png" class="card-img-top" alt="...">
							<div class="card-body my-auto text-center">
							  <button class="btnUsuario rounded-3 p-1"> Ver Más</button>
							</div>
						  </div>	
						
						  <div class="card" style="width: 18rem;">
							<img src="/IMG/70348103_420184485276657_6815606820892049408_n.png" class="card-img-top" alt="...">
							<div class="card-body my-auto text-center">
							  <button class="btnUsuario rounded-3 p-1"> Ver Más</button>
							</div>
						  </div>	
						  <div class="card" style="width: 18rem;">
							<img src="/IMG/70348103_420184485276657_6815606820892049408_n.png" class="card-img-top" alt="...">
							<div class="card-body my-auto text-center">
							  <button class="btnUsuario rounded-3 p-1"> Ver Más</button>
							</div>
						  </div>	
						  <div class="d-flex  flex-grow-1 text-center justify-content-center align-items-center align-content-center w-25">
						  <a href="" class="arrowText arrowRight d-flex align-items-center justify-content-center shadow-sm text-decoration-none">
							<span>Ver todo</span>
						  </a>
						</div>

					</div>
					
				</div>

				

			</div>

		</div>
		<footer class=" text-white w-100 sticky-bottom mt-auto"
			style="background-color: #492311; border-top: 2px solid #FABE1F;">

			<div class="d-flex flex-wrap justify-content-center mt-3 text-white m-auto">

				<div class="d-flex flex-column align-items-center w-25">
					<h1 class="h5">Libro de Reclamaciones</h1>
					<a href="#" class="text-center"><img src="/IMG/LibroRecla.png" alt="" style="width: 9%;"></a>

					<ul clas s="list-unstyled">
						<a href="" class="text-white text-decoration-none">
							<li>Terminos y Condiciones</li>
						</a>
						<a href="" class="text-white text-decoration-none">
							<li>Políticas de la Empresa</li>
						</a>

						<a href="" class="text-white text-decoration-none">
							<li>Mapa de Sitio</li>
						</a>
						<a href="" class="text-white text-decoration-none">
							<li>Política de Datos Personales</li>
						</a>

					</ul>


				</div>
				<div class="d-flex flex-column align-items-center w-25 text-center">


					<h1 class="h5">Horarios de Atencion</h1>

					<ul class="text-start list-unstyled">
						<li>Lunes a Viernes:</li>
						<li>10:00 a.m. - 12:00 p.m.</li>
						<li>Fines de Semana:</li>
						<li>11:00 a.m. - 7:00 p.m.</li>
						<li>Feriados: Tienda Cerrada</li>
					</ul>
				</div>

			</div>

			<div class="container p-0 d-flex text-end border-top border-2 justify-content-between">

				<div class="d-flex flex-wrap flex-shrink-0 align-items-center justify-content-center ">
					<h1 class="h6 pe-2 mb-0">Métodos de Pago</h1>
					<div class="flex-wrap text-center fs-3" style="letter-spacing: 5px;">

						<i class="fa-brands fa-cc-mastercard text-danger"></i> <i
							class="fa-brands fa-cc-visa text-warning"></i> <i
							class="fa-brands fa-cc-amex text-primary"></i>

					</div>
					<div
						class="border-start ms-3 mb-0 ps-3 d-flex flex-wrap flex-shrink-0 align-items-center justify-content-center">

						<h5 class="h6 mb-0 me-2">Contacto</h5>
						<a href="https://api.whatsapp.com/send?phone=51966313252" target="_blank"
							class="text-decoration-none text-white fw-bolder">
							<p class="mb-0 fw-light fst-normal">
								+51 966 313 252 <i class="fa-brands fa-whatsapp"></i>
							</p>
						</a>

					</div>
				</div>
				<div class="d-flex align-items-center ">
					<p class="m-0 fw-light text-end">© 2022 Todos los derechos reservados</p>
				</div>
			</div>
		</footer>

	</div>
</body>
<!--ESTILOS JS-->
<script type="text/javascript" src="/JS/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/JS/bootstrap.min.js"></script>
<script type="text/javascript" src="/JS/bootstrapValidator.js"></script>
<script type="text/javascript" src="/JS/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/JS/popper.min.js"></script>
<script type="text/javascript" src="/JS/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/JS/bootstrap.bundle.min.js  "></script>

</html>