<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:insert="/plantilla/NavAdminComponent :: headAdministrador"></head>

<body>

	<div class="d-flex w-100">
		<div th:insert="/plantilla/NavAdminComponent :: navAdminComponent"></div>

			<div class="flex-grow-1 d-flex align-items-center flex-column" style="background-color: #FFF6EA;">
				<h1 class="h1 text-center m-2">Bienvenido al Sistema Usuario/a</h1>
				<img src="./img/Makako Burger - Fondo.png" class="m-auto d-block " alt="">
			</div>
	</div>

</body>
<!--ESTILOS JS-->
<script type="text/javascript" src="./js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script type="text/javascript" src="./js/bootstrapValidator.js"></script>
<script type="text/javascript" src="./js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="./js/popper.min.js"></script>

</html>