<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:insert="/plantilla/NavAdminComponent :: headAdministrador"></head>


<body class="d-flex">


	<div th:insert="/plantilla/NavAdminComponent :: navAdminComponent"></div>

	<main class="main">


		<div class="box info">
			<div class="header-info">

				<h2 class="mb-3">Mantenimiento de empleados</h2>

				<form class="form-search" method="POST">

					<select class="form-select" name="cboPosition" id="cboPosition">
						<option value="all">Todos</option>
						<option value=""></option>

					</select>
					<input class="form-control" type="text" id="search" name="search" placeholder="Buscar..."
						value="${ busqueda == null ? '' : busqueda }" />

					<input class="form-control" type="date" id="start-date" name="startDate"
						placeholder="Fecha de Inicio" min="2000-01-01" max="2030-12-31"
						value="${ fechaInicio == null ? '' : fechaInicio }" />

					<input class="form-control" type="date" id="end-date" name="endDate" placeholder="Fecha de Fin"
						min="2000-01-01" max="2030-12-31" value="${ fechaFinal == null ? '' : fechaFinal }" />
					<input class="form-control bg-primary text-white" type="submit" value="Aplicar Búsqueda" />
				</form>

				<button type="button"  class="btn-add" data-bs-toggle="modal" data-bs-target="#modalEmpleado">
					Añadir empleado <i class="fs-4 bi bi-plus-circle-fill"></i>
				</button>
			</div>

			<hr class="separator">

			<div class="body-info" th:each="obj:${empleados}">

				<div class="d-row">
					<div class="data">
						<input type="hidden" name="id" value=${ empleadoL.getIdEmpleado()}>
						<input type="hidden" name="object" value="emp">
						<span th:text=""></span>

						<span th:text=""></span>

						<span th:text=""></span>

						<span th:text=""></span>

						<span th:text=""></span>
					</div>

					<div class="operations">

						<i class="icon-info bi bi-info-circle-fill"></i>
						<i class="icon-update bi bi-pencil-square"></i>
						<i class="icon-delete bi bi-trash-fill"></i>

					</div>
				</div>
			</div>

			<div class="navigation-info">
				<span>Navegando de </span>

				<div>
					<ul class="pagination">

					</ul>
				</div>

				<span>Se encontraron ${ totalRegistro } resultados</span>
			</div>
		</div>
	</main>

	<template th:insert="/plantilla/modalTemplateComponent :: modalEmpleado"></template>
</body>
<script type="text/javascript" th:src="@{/resources/JS/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/JS/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/JS/bootstrapValidator.js}"></script>
<script type="text/javascript" th:src="@{/resources/JS/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/JS/popper.min.js}"></script>

</html>